
.en-sidelinks-module {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    z-index: 99;
}


.en-sidelinks-module a {
    font-family: Roboto, serif;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    display: flex;
    font-weight: 600;
    box-sizing: border-box;
    align-items: center;
    padding: 12px 15px;
    line-height: 20px;
    align-content: center;
    min-height: 65px;
    text-transform: uppercase;
    width: 90%;

    background-color: #222222;
    color: white;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.en-sidelinks-module a:hover {
    /*margin-right: 20px;*/
    transform: translateX(-10px);
}

.en-sidelinks-module a:not(a:hover)::before {
    content: "";
    position: absolute;
    height: 49px;
    width: 4px;
    left: 0;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease 0s;
    background-color: red;
}

.en-sidelinks-module a:hover::after {
    content: "";
    position: absolute;
    height: 49px;
    width: 4px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease 0s;
    background-color: greenyellow;
}



@media (min-width: 769px) {
    .en-sidelinks-module {
        position: fixed;
        right: 0;
        top: 50%;
        z-index: 10;
        width: auto;
        padding: 0;
        transform: translateY(-50%);
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .en-sidelinks-module a {
        width: 160px;
    }
}


@media (max-width: 768px) {
    .en-sidelinks-module {
        padding: 20px 0;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        z-index: 1000;
    }

    .en-sidelinks-module a {
        width: 30%;
    }
}


@media (max-width: 576px) {
    .en-sidelinks-module a {
        width: 48%;
    }
}

@media (max-width: 430px) {
    .en-sidelinks-module a {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

}






