body.inner-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh !important;
  height: 100% !important;
}
.footer.inner-page {
  margin-top: auto;
  top: 0;
}
.en-pages-wrapper {
  width: 100%;
  position: relative;
}
.inner-page .en-public-header::after {
  content: none;
}
@media only screen and (min-width: 1100px){
.inner-page .header-icons-wrapper .social-links{
  top: 2px;
}
.inner-page .header-icons-wrapper .social-links span{
  top: -2px;
}
.inner-page .upper-footer-logo{
  position: relative;
  top: 2px;
}
.inner-page .footer-logo{
  top: 12px;
}
.inner-page .footer-right-links h5,
.inner-page .footer-left-links h5{
  top: 1px;
}
.inner-page .edunet{
  left: 41.63%;
}
}
/* ROTATING IMG */
.inner-page .header-rotating-img::after {
  /* bottom: 68.1%; */
  content: '';
  background: url('../pics/header-bottom-border.jpg') center top repeat-x;
  width: 100%;
  height: 2px;
  position: absolute;
  top: -2px;
  left: 0px;
}
.inner-page .header-rotating-img {
  display: flex;
  width: 100%;
  position: relative;
  height: 300px;
}
.inner-page .header-rotating-img #ir5828 {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden !important;
}
.inner-page .header-rotating-img #ir5828-ir5828-slider {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
}
.inner-page .header-rotating-img .nivo-slice {
  width: 100% !important;
}
@media only screen and (max-width: 1100px) {
  .inner-page .header-rotating-img {
    height: max-content;
  }
  .inner-page .header-rotating-img #ir5828 {
    aspect-ratio: 1400/300;
  }
}
/* END ROTATING IMG  */

.en-pages-inner-wrapper::before {
  content: '';
  background: #ffffff;
  width: 1140px;
  height: 31px;
  position: absolute;
  top: -20px;
  left: -20px;
  right: 0;
  margin: 0 auto;
  z-index: -1;
}
.en-pages-inner-wrapper,
.en-pages-inner-wrapper .neutral,
.en-pages-inner-wrapper table {
  font-family: 'Karla', sans-serif;
  font-size: clamp(14px,1.45vw,16px);
  color: #3b4045;
  font-weight: 400;
  line-height: 22px;
}
.en-pages-inner-wrapper {
  max-width: 1100px;
  width: 94%;
  min-height: 400px;
  height: auto !important;
  margin: 0 auto;
  position: relative;
  z-index: 9;
  margin-top: -10px;
  line-height: 20px;
  padding-bottom: 160px;
}
.pageTitle {
  width: auto;
  display: block;
  margin-bottom: 20px;
  position: relative;
  font-family: 'Karla', sans-serif;
  font-size: clamp(17px,2.18vw, 24px);
  color: #1c2641;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #dedede;
  padding: 14px 15px;
  box-sizing: border-box;
  line-height: 0.833333333;
}
.pageTitle::after {
  content: '';
  background: #b82323;
  width: 50px;
  height: 4px;
  position: absolute;
  bottom: -1px;
  left: 14px;
}
.en-pages-inner-wrapper ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 16px;
  margin-block-end: 16px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.en-pages-inner-wrapper p {
  display: block;
  margin-block-start: 16px;
  margin-block-end: 16px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.en-pages-inner-wrapper ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 16px;
  margin-block-end: 16px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.en-pages-inner-wrapper dl dd {
  padding: 5px;
}
.en-pages-inner-wrapper dd {
  display: block;
  margin-inline-start: 40px;
}
.en-pages-inner-wrapper dl {
  padding: 5px;
  display: block;
  margin-block-start: 16px;
  margin-block-end: 16px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.inner-page a:hover,
.inner-page a:focus{
  color: #b00b0b;
}
.light{
  background-color: #fdfafa !important;
  font-family: 'Karla', sans-serif !important;
  font-weight: 400 !important;
  font-size: clamp(14px,1.45vw,16px) !important;
  color: #555556 !important;
}
.dark{
  background-color: #760000 !important;
  color: #fff !important;
  font-family: 'Karla', sans-serif !important;
  font-size: clamp(14px,1.45vw,16px) !important;
}
.dark a, .dark a:visited, .dark a:link, .dark a:hover, .dark a:active{
  color:#fff !important;
}
#pageNav{
  border: 0;
  font-size: 14px;
  position: relative;
  background: #f2f4f5;
  margin-left: 20px;
  padding-bottom: 70px;
}
#pageNav td img {
  display: none;
}
#pageNav ul {
  padding: 10px 0!important;
  margin: 0 auto!important;
  width: 300px;
  height: auto!important;
}
#pageNav ul, #pageNav ul li {
  list-style: none;
  line-height: 16px;
}
#pageNav ul li {
  padding: 0 !important;
  margin: 0 !important;
  zoom: 1;
}
#pageNav ul li a, #pageNav ul li b {
  min-height: 20px;
  text-decoration: none;
  padding: 9px 15px 10px 21px;
  margin: 0;
  display: block;
  position: relative;
  font-family: 'Karla', sans-serif;
  font-size: clamp(15px,1.64vw, 18px);
  color: #1c2641 !important;
  font-weight: 400;
  line-height: 21px;
  transition: letter-spacing .5s ease;
}
#pageNav ul li b, #pageNav ul li a:hover, #pageNav ul li a:focus {
  background: #1c2641;
  color: #ffffff !important;
  letter-spacing: .2px;
}
#pageNav ul li b, #pageNav ul li a:hover, #pageNav ul li a:focus {
  background: #1c2641;
  color: #ffffff !important;
  letter-spacing: .2px;
}
thead.dark th {
  padding: 3px;
}
.darkBorderBottom {
  padding: 4px;
}
.light.pale.lightBorderBottom {
  padding: 8px;
}
.lightBorderBottom {
  padding: 4px;
}
tfoot.neutral td {
  padding: 3px;
}
.en-pages-inner-wrapper hr{

  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 16px 0;
  padding: 0;
}
.en-pages-inner-wrapper img {
  vertical-align: middle ;
  border: none ;
}
.button3demboss {
  width: max-content !important;
  padding: 0 9.6px !important;
  background: #e2e2e2 -webkit-gradient(linear, 0% 0%, 0% 80%, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0))) !important;
  border: 1px solid #aeafb3 !important;
  border-radius: 4px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  box-shadow: none !important;
  position: relative;
}
.button3demboss:hover {
  border-color: #818285 !important;
}
#pageContentWrapper .video-list-top #searchbox2.has-btn,
.searchbox2.has-btn {
  border-right: none !important;
  padding: 4px 3px !important;
}
/* #big-video-info {
  display: flex;
  justify-content: space-around;
} */
#staff-search-comp {
  display: block;
  text-align: right;
}
#staff-search span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: inline-block;
  font-size: 12px;
}
#staff-search input {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  box-shadow: 2px 2px 3px -1px rgb(0 0 0 / 20%) inset;
  font-size: 11px;
  padding: 4px 5px 3px 10px;
  -webkit-appearance: none;
  width: 200px;
  outline: 0;
  background-color: #fff !important;
}
#index-page #edunet_webform textarea {
  max-width: 330px;
}
#more-videos-list li a.playing {
  font-weight: 400 !important;
}
/* inner-page event */
#events-page #infobar #curmonth {
  font-size: clamp(14px, 2.2vw, 22px) !important;
}

/* form contact */
#en-cms-contact-form table {
  max-width: 463px;
  width: 100%;
  margin: 0 auto;
}
#en-cms-contact-form table .en-contactus-form-firsthf td {
  padding: 5px;
}
.en-contactus-form-secondhf td {
  padding: 5px;
}
.en-pages-inner-wrapper .waInputText {
  border: 1px solid #aaaabb !important;
  border-radius: 0 !important;
  font-family: Arial, Verdana, sans-serif !important;
  font-size: 9.5pt !important;
  padding: 2px !important;
} 
#en-cms-contact-form table tr td #inputName,
#en-cms-contact-form table tr td #inputEmail,
#en-cms-contact-form table tr td #inputMessage {
  border: 1px solid #aaaabb !important;
  border-radius: 0 !important;
  font-family: Arial, Verdana, sans-serif !important;
  font-size: 9.5pt !important;
  padding: 2px !important;
  width: 350px !important;
}
.en-contactus-form-last-td table td {
  padding: 5px;
}
@media (max-width: 450px) {
  #en-cms-contact-form table tr td #inputName,
  #en-cms-contact-form table tr td #inputEmail,
  #en-cms-contact-form table tr td #inputMessage {
    width: 100% !important;
  }
  #events-page #infobar #calicon {
    left: 82px !important;
  }
  #events-page #infobar #nav a {
    padding: 0 !important;
  }
}

/* --album title for mobile */
@media only screen and (max-width: 729px) {
  #albumNavToggle {
    background-color: transparent;
    background-position: right top;
    background-repeat: no-repeat;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, serif;
    font-size: 10pt;
    height: 26px;
    max-width: 290px;
    padding: 0 17px 0 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    background-image: url(../pics/dropdown_white.png);
    font-weight: normal;
    outline: 0 none;
    padding-right: 28px !important;
    vertical-align: middle;
    z-index: 2 !important;
    outline: none;
  }

  #albumNavToggle:hover {
    font-weight: inherit !important;
    color: inherit !important;
  }

  #albumNavToggle span {
    background-image: url(../pics/dropdown_white.png);
    padding-left: 9px !important;
    padding-right: 2px !important;
    outline: none;
  }
  #albumsWrapper.narrow #albums {
    width: 90% !important;
  }
}

/* inner pages photos -- responsive -- */
@media only screen and (max-width: 1100px) {
  #pageContentWrapper img {
    max-width: 100% !important;
    object-fit: cover;
    object-position: unset !important;
  }
  #pageContentWrapper .img {
    align-items: center;
    display: flex;
  }
}
@media only screen and (max-width: 650px) {
  #alert-box {
    width: 92% !important;
  }
  .alert-box .alert-box-body img {
    width: 100%;
  }
}
@media only screen and (max-width: 460px) {
  .en-pages-inner-wrapper .dayeventwrap .finaleventofday {
    margin-bottom: 73px !important;
  }
}
@media only screen and (max-width: 500px) {
  .en-pages-wrapper #albumsWrapper.narrow #albums {
    width: 100%;
  }

#contactStaff form table tbody tr:nth-child(6) td table tr td{
  width: 96% !important;
}
}
@media only screen and (max-width: 700px) {
#contactStaff form table tbody tr:nth-child(6) td table tr td:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}
@media only screen and (max-width: 800px) {
  .en-pages-inner-wrapper #events-page #events.v1 ul li {
    margin-bottom: 30px;
  }
}
#events-page #events.v1 .event .time {
  white-space: nowrap;
}
  @media only screen and (max-width: 1000px) {
    #staff.staffR1.staff-horizontal .staff-categoryStaffMembers{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    #staff.staffR1.staff-horizontal .staff-categoryStaffMember{
      min-width: 300px;
    }
    #staff.staffR1.staff-horizontal .staff-categoryStaffMember dl dd {
      white-space: normal;
    }
    /* .staffR1.staff-v3.staff-vertical .staff-category .staff-categoryStaffMembers .staff-categoryStaffMember{
      display: flex !important;
      flex-wrap: wrap;
      justify-content: space-around;
    } */
  } 
 
#staff.staffR1.staff-horizontal .staff-categoryStaffMember dl dt {
  line-height: 1.2 !important;
  font-size: 13.2px;
}
.bell-title a {
  text-decoration: none !important;
}
.bootstrap input[type='text'] {
  height: 15px !important;
}
.DB_mask {
  z-index: 99999999999999 !important;
}
.DB_dialog {
  z-index: 999999999999999 !important;
}
/* @media only screen and (max-width: 1100px) {
  .DB_dialog {
    position: fixed !important;
    width: auto !important;
    height: auto !important;
    max-height: 90vh;
    padding-left: 0px !important;
    background-color: transparent !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
    left: 50% !important;
  }
  .DB_dialog #PV_imageDiv img:first-child {
    padding: 0px 3px 5px 8px !important;
  }
  .DB_dialog #PV_imageDiv img:last-child {
    width: auto !important;
    height: auto !important;
    max-height: 100vh;
    max-width: 100vw;
    padding: 0 !important;
  }
} 
@media only screen and (max-width: 768px) {
  .DB_dialog {
    position: fixed !important;
    width: auto !important;
    height: auto !important;
    max-height: 90vh;
    padding-left: 0px !important;
    background-color: transparent !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
    left: 50% !important;
  }
  .DB_dialog #PV_imageDiv img:first-child {
    padding: 0px 3px 5px 8px !important;
  }
  .DB_dialog #PV_imageDiv img:last-child {
    width: auto !important;
    height: auto !important;
    max-height: 86vh;
    max-width: 90vw;
    padding: 0 !important;
  }
}  */
.DB_dialog {
  position: fixed !important;
  width: auto !important;
  height: auto !important;
  max-height: 90vh;
  padding-left: 0px !important;
  background-color: transparent !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
  left: 50% !important;
}

.DB_dialog #PV_imageDiv img:first-child {
  padding: 0px 3px 5px 8px !important;
}

.DB_dialog #PV_imageDiv img:last-child {
  width: auto !important;
  height: auto !important;
  max-height: 90vh;
  max-width: 90vw;
  padding: 5px !important;
}

.DB_dialog #PV_imageDiv img:nth-child(2) {
  width: auto !important;
  height: auto !important;
  max-height: 90vh;
  max-width: 90vw;
  padding: 5px !important;
}
@media only screen and (min-width: 576px) {
  .newsContent {
    padding: 0 !important;
  }
}
div.bell-schedule {
  width: 70% !important;
  margin: 0 auto 57px auto !important;
  border-collapse: collapse !important;
  max-width: inherit;
}
div.bell-schedule {
  width: 70% !important;
  margin: 0 auto 57px auto !important;
  border-collapse: collapse !important;
  max-width: inherit;
}
div.bell-schedule .dark {
  padding: 0 8px 9.6px !important;
  box-sizing: border-box !important;
  border-bottom: 1px solid #888888;
}
.bell-schedule div.dark.bell-title {
  padding: 6.4px 8px 4.32px !important;
  font-size: inherit !important;
  border: 0;
  justify-content: center;
}
.bell-schedule .lightBorderBottom.flex.real-headers.en-bell-schedules-data-header {
  border-bottom: none !important;
  padding: 0;
}
@media only screen and (max-width: 990px) {
  div.bell-schedule {
    width: 97% !important;
  }
}
#usernameRow input,
#passwordRow input {
  width: 90% !important;
}
.inner-page #usernameRow td:first-child {
  padding: 5px;
}
.inner-page .en-public-login-table tr td:last-child {
  max-width: 330px !important;
  /* padding: 4px 0 3px 4px !important; */
}
.inner-page .en-gray-button-small {
  max-width: 58.5px !important;
  padding: 2px 6px !important;
  margin: 2px !important;
  max-height: 21px !important;
  white-space: nowrap !important;
  background-color: #efefef !important;
}
.inner-page .en-gray-button-small:hover {
  background-color: #e5e5e5 !important;
}

@media only screen and (max-width: 760px) {
  .inner-page .en-public-login-table tr td:last-child {
    max-width: inherit !important;
  }
  .inner-page .en-public-login-table tr td:last-child {
    width: 100% !important;
    text-align: center !important;
    justify-content: center !important;
  }
  .en-login-page-create-acct,
  .en-public-login-sign-table {
    padding: 0 !important;
  }
}
@media only screen and (min-width:450px){

  .en-pages-inner-wrapper #emailForm .waInputText {
  width: 378px !important;
  }
}
.en-pages-inner-wrapper #emailForm .waInputText {
  border: 1px solid #aaaabb !important;
  border-radius: 0 !important;
  font-family: Arial, Verdana, sans-serif !important;
  font-size: 9.5pt !important;
  padding: 2px !important;
}
#signInHeaderRow .dark.darkBorderBottom {
  padding: 5px;
}
#emailForm tr td {
  padding: 5px !important;
}
#emailForm tr:last-child td input {
  white-space: pre;
  width: 222px;
  padding: 1px 6px;
  background-color: buttonface;
  color: buttontext;
  border: 1px solid #000;
}
#emailForm tr:last-child td input:hover {
  background-color: #cccccc75;
}
#emailForm table {
  margin: 0 auto;
}
.light a img.sub {
  width: auto !important;
}
/* .lightBorderBottom,
tbody.light td {
  padding: 4px;
} */
#account-form {
  padding: 0 0 40px 0;
  background: #fff;
  margin: 0 auto;
  max-width: 650px !important;
  width: 100% !important;
}
.en_profile_flex {
  display: flex;
  justify-content: flex-start !important;
  align-items: center;
  margin: 0 0 10px !important;
}
.en_profile_row {
  display: flex !important;
  justify-content: flex-start !important;
}
.en_profile_community_div {
  width: 74% !important;
  padding-left: 0 !important;
}
.en_profile_right_div input[type='text'],
.en_profile_right_div input[type='password'] {
  background: none;
  border: 1px solid #e5e5e5;
  z-index: 10;
  box-shadow: inset 0px 0px 4px 1px #e5e5e5;
  padding: 5px 8px;
  font-size: 13px;
  border-radius: 5px;
  font-style: italic;
  color: #666;
  font-family: Arial;
  width: 191px;
  position: relative;
}
.en_profile_left_div {
  margin-bottom: 0 !important;
  text-align: right;
  width: 30% !important;
}
.en_profile_right_div select#title {
  width: 49px;
  height: 17px;
  border-radius: 3px;
  border: 1px solid #000;
}
#create-account-btn {
  width: 121px;
  box-sizing: content-box;
  border: 2px solid #000;
  text-align: center;
  padding: 4px 6px;
  color: #000 !important;
  background: #eee;
  margin: 0 auto !important;
  display: block;
  border-radius: 4px;
  -moz-border-radius: 4px;
  cursor: pointer;
  -webkit-border-radius: 4px;
}

#create-account-btn:hover {
  color: #fff !important;
  background: #0b63e7;
}

@media only screen and (max-width: 576px) {
  .en_profile_right_div {
    width: 100% !important;
    text-align: left;
    margin: 0 !important;
  }
  .en_profile_left_div {
    text-align: left;
    margin: 0 !important;
  }
  .en_profile_left_div {
    width: 100% !important;
  }
  .en_profile_row {
    flex-direction: column !important;
  }
}
.en-pages-inner-wrapper .itemImages img.sub{
  border: 0 !important;
  width: 250px;
}
/* QUERIES */
@media only screen and (max-width: 1200px){
  .en-pages-inner-wrapper::before{
    content: none;
  }
  .en-pages-inner-wrapper{
    margin-top: 4px;
  }
}
@media only screen and (max-width: 700px){
div[en-page-rec-id="464913"] ~ table.exam-dates-ap th, div[en-page-rec-id="464913"] ~ table.exam-dates-ap td {
    border: 1px solid #888888;
    box-sizing: border-box;
    border-top: 0;
    border-right: 0;
}
.inner-page #staff.staffR1 #staff-search input{
     width: 98% !important;
    margin: 2px auto;
    left: 3px;
    position: relative;
    box-sizing: border-box;
}
#staff.staffR1.staff-v3 ul.staff-categoryStaffMembers, #staff.staffR1.staff-v0 ul.staff-categoryStaffMembers{
  flex-direction: column;
  align-items: center;
}
/* #staff.staffR1.staff-v3 .staff-categoryStaffMember, #staff.staffR1.staff-v0 .staff-categoryStaffMember{
  margin: 0 0 20px !important;
} */
}
.en-pages-inner-wrapper #passwordRow .waInputPassword {
  border: 1px solid #aaaabb;
  font-family: Arial, Verdana, sans-serif;
  font-size: 9.5pt;
  padding: 2px;
  border-radius: 0;
}
.waWarning {
  font-family: Arial, Verdana, sans-serif;
  font: Arial, Verdana, sans-serif;
  font-size: 9.5pt;
  background-color: #fff0a8;
  color: #000000;
  padding: 5px;
  text-align: center;
  border: 1px solid #888888;
}
.inner-page #passwordRow td:first-child {
  padding: 5px;
}
@media only screen and (max-width: 760px) {
  .inner-page .en-public-login-table tr td:last-child {
    max-width: inherit !important;
    padding: 5px 0px !important;
  }
  .inner-page .en-public-login-table tr td:last-child {
    width: 100% !important;
    text-align: center !important;
    justify-content: center !important;
  }
  .en-login-page-create-acct,
  .en-public-login-sign-table {
    padding: 0 !important;
  }
 .inner-page .upper-footer::before {
    top:0px;
  }
}
#more-videos-list li a.playing {
  background-color: #d0d0d0 !important;
  border-top: 1px solid #777 !important;
  border-bottom: 1px solid #777 !important;
}
#searchbox {
  height: 19px !important;
  border-radius: 0 !important;
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}
.button3demboss.search {
  line-height: 23px !important;
}
#events-page div#infobar.stick #infobarwrap{
  z-index: 999999999999999 !important;
}
.dark.darkBorderBottom.lightBorderRight.name-of-day{
  padding: 3px;
  border-right: 1px solid #888888;
  border-bottom: 1px solid #888888;
}
#pageAsideWrapper #pageNav {
  margin: 0 !important;
  right: 0 !important;
}
#pageAsideWrapper.pageAsideLeftWrapper {
  margin-right: 20px;
}
.dark.darkBorderBottom{
  padding: 3px;
}
@media only screen and (max-width: 500px) {
  .en-modal-body #pageNav ul {
    width: 100% !important;
  }
  .inner-page .en-public-login-table tr td:last-child{
    align-items: center !important;
  }
}

@media only screen and (max-width: 850px) {
#accessibility-complaintFormPage-form dl#accessibility-complaintFormPage-desc-of-problem-prompt dt, #accessibility-complaintFormPage-form dl#accessibility-complaintFormPage-desired-solution-prompt dt, #accessibility-complaintFormPage-form dl#accessibility-complaintFormPage-additional-info-prompt dt{
  width: max-content !important;
}
}
.en-pages-inner-wrapper blockquote{
  display: block;
  margin-block-start: 16px;
  margin-block-end: 16px;
  margin-inline-start: 40px;
  margin-inline-end: 0;
}
.en-pages-inner-wrapper ul ul {
  list-style-type: circle;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

@media only screen and (max-width: 1000px) {
  .staffR1.staff-v3.staff-vertical .staff-category .staff-header{
    margin-bottom: 70px !important;
  }
  #staff.staffR1.staff-v3 div.staff-header, #staff.staffR1.staff-v0 div.staff-header{
    font-size: clamp(16px,2vw,20px) !important;
  }
 
}
.video_player #video_placeholder10087852{
  width: 100% !important; 
}

@media only screen and (max-width: 1100px) {
  #pageContentWrapper .encms-ie-compatible-container .img.img-center .img{
    height: auto !important;
  }
  #pageContentWrapper .en-editable-block-wrapper .img.img-right,
  #pageContentWrapper .en-editable-block-wrapper .img.img-left{
    float: inherit !important;
    margin: 2px auto !important;
  }
  div[en-page-rec-id="666357"] ul,
  div[en-page-rec-id="666357"] div{
    width: 80%;
  }
  div[en-page-rec-id="666357"] ul a{
  line-break: anywhere;
  }
  .en-pages-inner-wrapper{
    padding-bottom: 60px;
  }
}

@media only screen and (max-width: 1200px){
  .en-pages-inner-wrapper a:not(#pageNav a,.light.pale.lightBorderBottom a, .table-responsive a, .en-food-menu-week-print-wp a){
    word-break: break-all;
  }
  #big-video-info #hd-link .hd-logo{
    width: 30px;
  }
}
@media only screen and (max-width: 1150px){
  .cb-scrollbar-container{
    zoom: 0.7;
  width: 100%;
}
.cb-scrollbar-container .table-responsive{
  width: 100% !important;
  height: 100% !important;
  display: flex;
  justify-content: center;
}
}
@media only screen and (max-width: 700px){
div[en-page-rec-id="464913"] ~ table.exam-dates-ap tr td:last-child{
	border-right: 1px solid #888888;
}
.en-pages-wrapper .en-pages-inner-wrapper #pageContentWrapper div[en-page-rec-id="925533"] table td{
  width: 99% !important;
}
body.type-u > div.en-pages-wrapper > div > table > tbody > tr{
	display:flex;
	flex-direction:column;
	gap:25px;
  align-items: center;
}

}
#listing-bottom #pagination ol li.prev a.button3demboss.left-side{
  border-radius: 4px !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  left: 1px;
}
#listing-bottom #pagination ol li.prev a.button3demboss.left-side img{
  top: -2px;
  position: relative;
}


#listing-bottom #pagination ol li.next a.button3demboss.next.right-side img{
top: -1.5px;
  position: relative;
}
@media only screen and (max-width: 950px){
  div.wd,
  div.cd,
  div.wd2{
    width: 100% !important;
  }
}

@media only screen and (max-width: 450px){
#staff.staffR1 div.staff-header h1{
  font-size: 13px;
}
}



@media only screen and (max-width: 700px) {

	div[en-page-rec-id="101677"] table.MsoTableGrid tr {
	display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    box-sizing: border-box;
	border: 0;
}
div[en-page-rec-id="101677"] table.MsoTableGrid tr td{
	 box-sizing: border-box;
flex-direction: column !important;
}

/*.inner-page .MsoTableGrid{
    zoom: 1;
    width: 100% !important;
  }
  .inner-page .MsoTableGrid tr {
  border: 1px solid #000;
  }
  .inner-page .MsoTableGrid tr td{
  
    text-align: center;
    justify-content: center !important;
    flex-direction: column !important;
    align-items: center;
  }
  .inner-page .MsoTableGrid tr:first-child td{
    display: none !important;
  } 
  .inner-page .MsoTableGrid tr td:first-child{
    background:rgb(191, 191, 191) !important;
  color: #fff !important;
  font-size: 17px !important;
  }
*/
  body.clss-lgn-frm > div.en-pages-wrapper > div > table > tbody > tr{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    width: 100%;
  }
    td.light.pale.lightBorderBottom{
      flex-direction: column !important;
      box-sizing: border-box;
    }
  }
  @media only screen and (max-width: 650px){
    #pageContentWrapper .video-list-top #searchbox2.has-btn, .searchbox2.has-btn{
      height: max-content !important;
      padding: 3px 3px 4px 5px !important;
    }
    #pageContentWrapper .video-list-top #searchbox2.has-btn,
  .searchbox2.has-btn {
    border-right: 1px solid #888 !important;
  }
  #pageContentWrapper .video-list-top #searchbox2.has-btn, .searchbox2.has-btn {
    margin-top: 2px !important;
  }
  }

  
  @media only screen and (max-width: 900px){
div[en-page-rec-id="448805"] div[en-editable-block-type="cms2-content"]{
  zoom: 0.7;
}
  }

@media only screen and (max-width: 700px){
div[en-page-rec-id="464913"] ~ table.exam-dates-ap tr td:first-child{
    background: inherit !important;
    color: inherit !important;
    font-size: inherit !important; 
}

div[en-page-rec-id="448805"] div[en-editable-block-type="cms2-content"] {
    zoom: 1;
}
div[en-page-rec-id="101677"] table tbody tr td p.MsoListParagraph{
	margin: 0in 0.2in 0.0001pt 22.5pt !important;
}
}
@media only screen and (max-width: 550px){
div[en-page-rec-id="448805"] div[en-editable-block-type="cms2-content"] {
    zoom: 0.8;
}
}
@media only screen and (max-width: 450px){
div[en-page-rec-id="448805"] div[en-editable-block-type="cms2-content"] {
    zoom: 0.7;
}
}



@media only screen and (max-width: 700px){
div[en-page-rec-id="464913"] ~ table.exam-dates-ap .first-row-exam {
    display: block !important;
	}
div[en-page-rec-id="464913"] ~ table.exam-dates-ap tr:first-child td {
    display: block !important;
	}
div[en-page-rec-id="464913"] ~ table.exam-dates-ap tr {
	    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    box-sizing: border-box;
border: 0;
}
.en-pageNav-wrapper-combo{
	margin: 6px 0;
}


}

@media only screen and (max-width: 400px){
.en-modal-header-title{
	    font-weight: 600 !important;
    font-size: 18px !important;
}
}

.en-pages-inner-wrapper .en-help-form input.waInputText{
  width: 155px !important;
}
.en-pages-inner-wrapper .en-help-form a{
outline:none !important
}
.en-pages-inner-wrapper .en-help-form a input[type=button]{
background: url(../apps/pics/b/continue_p18.png)no-repeat;
width: 65px;
height: 18px;
border: 0;
text-indent: -999em;
padding: 0;
}
@media (max-width: 550px){
  .en-pages-inner-wrapper .en-help-form {
    gap: 6px;
  }
}


/*Athletic Pages*/
#athletics {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}
	#athletics h2 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		text-align: center!important;
		font-family:  'Merriweather', serif!important;
		font-size: 20px!important;
		letter-spacing: .8px;
		line-height: 24px!important;
		color: #fff!important;
		text-shadow: 0 0 7px rgb(0,0,0);
		font-weight: 700!important;
	}
	
	#athletics .description a {
		display: block;
		padding: 10px 20px;
		background-color: #000!important;
		color: #fff!important;
		text-decoration: none;
		text-align: center!important;
		font-family: 'Karla', sans-serif!important;
		font-size: 14px!important;
		margin-bottom: 10px;
	}
	
	#athletics .description a:hover {
		color: #fff;
	}
	
	#athletics .description a:first-child {
		text-transform: uppercase;
	}
	
	#athletics img {
		width: 250px;
		height: 250px;
		object-fit: cover;
		object-position: top;

	}
	
	#athletics .athletics-wrapper::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background: url("../pics/athletics/img-overlay-5-percent.png") rgba(0, 0, 0, .2);
		width: 100%;
		height: 100%;
	}
	
	#athletics .athletics-wrapper {
		overflow: clip;
		position: relative;
		width: 250px;
		height: 250px;
		background-color: #000;
	}
	
	#athletics .athletics-wrapper-inner {
		height: auto; 
	    width: 100%;
		position: absolute;
		top: 250px;
		padding: 15px 20px;
		transition: 0.1s;
		background: rgba(255, 0, 0, 0.8)!important;
		box-sizing: border-box;
	}
	
	#athletics .athletics-wrapper:hover .athletics-wrapper-inner, #athletics .athletics-wrapper:focus-within .athletics-wrapper-inner {
		top: 35%;
	}


